Question 1

In [3]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

Value displayed when the last expression (a) is evaluated is 6. 
First variable 'a' is assigned a value 0 
Then function named b() is defined
a is declared as global so that the function outside b() can also access it
c() function is then called which returns a+2 i.e. 0 + 2 and stores it in 'a'. Now is 2 
When b() is called again, the above step repeats and 'a' values becomes 2 + 2 i.e 4
When b() is called the third time, 'a' value is now 4 + 2 i.e 6
That's why the final output is 6 when a is printed

Question 2

In [22]:
def Filelength(Fname : str) :
    try:
        a = open(Fname)
        print(len(a.readlines()))
        a.close()
    except :
        print(a"Fname not found")
        
        Filelength("Filelength.txt")

SyntaxError: invalid syntax (3704921577.py, line 7)

Question 3

In [26]:
class Marsupial: 
    def _init_(self):
        self.contents = []
    def put_in_pouch(self, item: str):
        self.contents.append(item)
    def pouch_contents(self):
        return self.contents
    
m = Marsupial()
m.put_in_pouch('doll') 
m.put_in_pouch('firetruck') 
m.put_in_pouch('kitten') 
m.pouch_contents()

class Kangaroo (Marsupial):
    def _init_(self,x,y):
        Marsupial._init_(self)
        self.x = x
        self.y = y
        
    def _str_(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
k= Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

AttributeError: 'Marsupial' object has no attribute 'contents'

Question 4

In [39]:
def Collatz(x :int):
    print(x)
    if x <= 0:
        return "Please enter a positive integer"
    elif x == 1:
        return 1
    elif (x > 1):
        if x%2 == 1:
            x = 3*x + 1
        else:
            x = x/2
    Collatz(x)
    
Collatz(-70)

-70

'Please enter a positive integer'

In [34]:
Collatz(1)

1

In [35]:
Collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

Question 5

In [40]:
def binary (a:int):
    if a<0:
        return "Please enter a non-negative integer"
    elif a==0:
        return 0
    else:
        return a%2 + 10*(binary(a//2))

binary(0)

0

In [41]:
binary(1)

1

In [42]:
binary(3)

11

In [43]:
binary(9)

1001

In [44]:
binary(70)

1000110


Question 6

In [48]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser): 
    
    def _init_(self, *, conver_charrefs: bool = ...) -> None:
        super()._init_(convert_charrefs=conver_charrefs)
        self.tag =''
    
    def handle_starttag(self, tag, attrs):
        self.tag = tag
        
    def handle_data(self,data):
        if (self.tag == 'h1'):
            print(data)
            
        elif(self.tag == 'h2'):
            print("\t", data)
            
        elif(self.tag == 'h3'):
            print("\t\t", data)
            
        elif(self.tag == 'h4'):
            print("\t\t\t", data)
        
        elif(self.tag == 'h5'):
            print("\t\t\t\t", data)
            
        elif(self.tag == 'h6'):
            print("\t\t\t\t\t", data)
            
        else:
            pass
        
parser = HeadingParser()
parser.feed('<html><head><title>Test</title></head>'
           '<body><h1>Parse ME!</h1><h2>H2 here</h2></body></html>')

infile = open('w3c.html')
content = infile.read()
infile.close()
content
parser.feed(content)

Parse ME!
	 H2 here


W3C Mission


	 Principles

Question 7


Question 8

In [75]:
import sqlite3

con = sqlite3.connect('web.db')

cur = con.cursor()

cur.execute("CREATE TABLE WeatherTable (City text, Country text, Season text, Temperature Real, Rainfall real)")
cur.execute("""INSERT INTO WeatherTable VALUES 
            ('Mumbai', 'India', 'Winter', 24.8, 5.9),
            ('Mumbai', 'India', 'Spring', 28.4, 16.2),
            ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
            ('Mumbai', 'India', 'Fall', 27.6, 346.0),
            ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
            ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
            ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
            ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
            ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
            ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
            ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
            ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)""")
            
            
print(cur.execute("Select * FROM WeatherTable"))   
print (cur.fetchall())

<sqlite3.Cursor object at 0x000001F1B334ED50>
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]


8a)

In [76]:
cur.execute('Select Temperature FROM WeatherTable')
print (cur.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]


8b)

In [77]:
cur.execute('Select Distinct City FROM WeatherTable')
print (cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]


8c)

In [83]:
cur.execute("""Select * 
            FROM WeatherTable 
            WHERE Country = 'India'""")
print (cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]


8d)

In [89]:
cur.execute(""" Select * FROM WeatherTable
            WHERE Season = 'Fall'""")
print (cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]


8e)

In [90]:
cur.execute(""" Select City, Country, Season FROM WeatherTable
                WHERE( Rainfall >= 200 AND Rainfall <= 400)"""  )
print (cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]


8f)

In [96]:
cur.execute(""" Select City, Country, Temperature FROM WeatherTable
                WHERE (Season = 'Fall' AND Temperature > 20 ) """)
print (cur.fetchall())

[('Mumbai', 'India', 27.6), ('Cairo', 'Egypt', 22.2)]


8g)

In [100]:
cur.execute(""" Select Sum(Rainfall) From WeatherTable 
                WHERE City = 'Cairo'""")
print (cur.fetchall())

[(27.6,)]


8h)

In [103]:
cur.execute(""" Select Season, Sum(Rainfall) From WeatherTable 
                GROUP BY Season """) 
print (cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

In [105]:
con.commit()
con.close()
#Connection Closed

ProgrammingError: Cannot operate on a closed database.

Question 9

In [106]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [107]:
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


9a.

In [110]:
LstA = [a.upper() for a in words]
LstA

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

9b.

In [111]:
LstB = [b.lower() for b in words]
LstB

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

9c.

In [112]:
LstC = [len(c) for c in words]
LstC

[3, 5, 5, 3, 5, 4, 3, 4, 3]

9d.

In [113]:
LstD = [[d.upper(), d.lower(), len(d)] for d in words]
LstD

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

9e.

In [114]:
LstE = [e for e in words if len(e) >= 4]
LstE

['quick', 'brown', 'jumps', 'over', 'lazy']

THE END